* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  position: relative;
  padding-bottom: 40px ;
  min-height: 100vh;
}

/* SPINNER DE CARGA*/

.cargando {
  width: 100%;

}


.spinner-general{
  margin-top: 40vh;
}

.spinner-inquilino-propiedades{

  min-height: 100px;

}

.margin-spinner-inquilino-propiedades{
  margin-top: 4%;
}



/* NAV BAR */

.container-fluid{
  display: flex;
justify-content: space-between;

}
.navbar{
  padding: 0;
  
}


.largo{

 min-height: 80px;
 padding: 20px 10px;
 

}

.relativo{
  position: relative;
}

.navbar-expand-lg .navbar-collapse {

  justify-content: space-around;

}


.logo {
  height: 60px;
  border-radius: 50%;
}

/* LISTADO DE PROPIETARIOS */

.titulo-boton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}




.contenedor-propietarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.ancho {
  width: 250px;
  margin: 0px 10px;
  overflow: hidden;
  border: 1px rgb(110, 110, 110) solid;
  border-radius: 20px;
  

}
.ancho img{
 padding: 100px 0;
}

.tamano img{
  padding: 75px 0px;
}

.mg {
  margin: auto;
}

.fondo-nombre {
  background-color: rgb(10, 167, 119);
  padding: 1px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  

}

.fondo-nombre-inqui {
  margin-top: 50px;
  background-color: rgb(10, 138, 177);
  padding: 1px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  

}

.nombre {
  color: white;
  text-decoration-line:none;
}

.opacidad:hover{

box-shadow: 0px 0px 5px 1px rgb(65, 65, 65);
}


/* PROPIETARIO DETAIL */

.mg-btn{
  margin-left: 80px;
}
.contenedor-propietario-detail{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;

  
}

.contenedor-datos-fotonombre{
  display: flex;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.boton-editar-foto-nombre{
  width: 250px;
  margin: auto;
  text-align: start;
}

.contenedor-foto-nombre {
  border: solid 1px black;
  width: 300px;
  padding: 40px 0px;
  border-radius: 20px;
  margin-top: 40px;

}

.contenedor-propiedades-inquilinos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%; 
  margin: 0px auto 40px auto;

}

.contenedor-propiedades {
  overflow: hidden;
  border: solid rgb(10,167,119) 3px;
  margin: auto;
  border-radius: 20px;
  width: 90%;
  min-width: 300px;
}

.contenedor-inqui {
  width: 90%;
  min-width: 250px;
  border: solid rgb(10,167,119) 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
 
}


.img-nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}

.alinear{
  align-items: center;
}
.contenedor-datos {
  border: solid 3px rgb(10,167,119);
  padding: 20px 15px;
  border-radius: 20px;
  text-align: start;
  min-width: 250px;
  width: 90%;
  margin: auto;
}

.col-datos{
  width: 100%;
  padding: 0px
}
.parrafo-datos{
  background-color: rgba(224, 224, 224, 0.822);
  padding: 10px 5px;
  
}

.label-datos{
  font-size: 13px;
}

/* INQUILINO DETAIL */


.contenedor-label-parrafo img:hover {
  background-color: rgb(168, 168, 168);
}
.pagos{
  border: 1px solid black;
  min-width: 200px; 
  border-radius: 10px;
  width: 90%; 
  margin: auto;
}

/* Formulario inquilino*/

.boton-form{
  margin-bottom: 50px;
}

.subtitulo{
  margin-top: 30px;
}
.al-dia{
  border: 1px solid black;
 
  border-radius: 25px;
  background-color: rgba(26, 214, 26, 0.719);
  min-width: 200px;
  width: 90%; 
  margin: auto;
}

.no-al-dia{
  border: 1px solid black;
  margin: 10px;
  border-radius: 25px;
  background-color: rgba(247, 37, 0, 0.719);
  min-width: 200px;
  width: 90%;  
}




.contenedor-fecha-label {
  display: flex;
  flex-direction: column;
}

.input-fecha {
  padding: 0px 10px;
  margin-top: 10px
}

.centro {

  margin-left: 50%;
}

.validacion-error {
  border: rgb(223, 114, 114), 2px solid;
  box-shadow: 0px 0px 10px 1px rgb(245, 110, 110);
}

/* ALQUILERES */


/* AL DIA */
.alquiler-al-dia{
  border: 3px solid rgb(8, 116, 17);
  border-radius: 20px;
  width: 80%;
  margin:  0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
  background-color: rgb(89, 177, 93);
  flex-wrap: wrap;
}

.alquiler-al-dia p{
  width: 300px;
  font-size: 20px;
  color: white;

}

.alquiler-al-dia img{
  border-radius: 100px;
  box-shadow: 0px 0px 5px 2px;
}


/* PENDIENTE */

.alquiler-no-al-dia{
  border: 3px solid rgb(179, 5, 5);
  border-radius: 20px;
  width: 80%;
  margin:  0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
  background-color: rgb(230, 108, 108);
  flex-wrap: wrap;
}

.alquiler-no-al-dia p{
  width: 300px;
  font-size: 20px;
  color: white;

}

.alquiler-no-al-dia img{
  border-radius: 100px;
  box-shadow: 0px 0px 5px 2px;
}

/* RECIBOS */

.ancho-recibo{
  width: 90%;
  margin: 0 auto;
}


.recibo{
  border: 1px solid black;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(233, 233, 233);
 
}

.mostrar-recibo{
  min-width: 200px;
  max-width: 1000px;
  border: solid 1px black;
  margin: auto;
  padding: 10px 10px 10px 10px;
}


/* FOOTER */

.footer{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgb(25,135,84);
  bottom: 0;


}